<style type="text/css">
  .ghContributors {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .ghContributors > div {
    width: 50%;
    display: inline-flex;
    margin-bottom: 5px;
  }

  .ghContributors > div label {
    padding-left: 4px;
  }

  .ghContributors > div span {
    font-size: x-small;
    padding-left: 4px;
  }
</style>

<div class="ghContributors">
  {{ $url := .Get 0 }}
  {{ $resource := resources.GetRemote $url }}

  {{ if $resource }}
    {{ $contributors := $resource | transform.Unmarshal }}

    {{ range $contributors }}
    <div>
      <img
        src="{{ .avatar_url }}"
        class="inline"
        width="32"
        height="32"
        style="height:32px; width:32px; margin-bottom:0.25em; vertical-align:middle;"
      />
      <label>
        <a href="{{ .html_url }}" target="_blank">@{{ .login }}</a>
      </label>
      <span class="contributions">
        {{ .contributions }} commits
      </span>
    </div>
    {{ end }}

  {{ else }}
    <p>Không thể tải danh sách contributors.</p>
  {{ end }}
</div>